@font-face {
  font-family: "icon"; /* Project id 2499379 */
  src: url('iconfont.woff2?t=1638350929625') format('woff2'),
       url('iconfont.woff?t=1638350929625') format('woff'),
       url('iconfont.ttf?t=1638350929625') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading2:before {
  content: "\e6a2";
}

.icon-loading3:before {
  content: "\e8fd";
}

.icon-loading:before {
  content: "\e7ba";
}

.icon-before:before {
  content: "\e683";
}

.icon-upper:before {
  content: "\e684";
}

.icon-after:before {
  content: "\e685";
}

.icon-right:before {
  content: "\e687";
}

.icon-lower:before {
  content: "\e688";
}

.icon-open:before {
  content: "\e68a";
}

.icon-packup:before {
  content: "\e68c";
}

.icon-arrow-lower:before {
  content: "\e68d";
}

.icon-arrow-upper:before {
  content: "\e68e";
}

.icon-lower-line:before {
  content: "\e69b";
}

.icon-upper-line:before {
  content: "\e69d";
}

.icon-left-line:before {
  content: "\e69e";
}

.icon-right-line:before {
  content: "\e6a0";
}

.icon-increase:before {
  content: "\e689";
}

.icon-reduce:before {
  content: "\e68b";
}

.icon-correct:before {
  content: "\e68f";
}

.icon-correct-line:before {
  content: "\e695";
}

.icon-error-line:before {
  content: "\e696";
}

.icon-correct-solid:before {
  content: "\e698";
}

.icon-error-solid:before {
  content: "\e69a";
}

.icon-reduce-line:before {
  content: "\e69c";
}

.icon-increase-line:before {
  content: "\e6a1";
}

.icon-help:before {
  content: "\e692";
}

.icon-tips:before {
  content: "\e694";
}

.icon-info:before {
  content: "\e697";
}

.icon-info-solid:before {
  content: "\e699";
}

.icon-enlarge:before {
  content: "\e6b0";
}

.icon-narrow:before {
  content: "\e6b1";
}

.icon-upload1:before {
  content: "\e691";
}

.icon-download1:before {
  content: "\e693";
}

.icon-setup:before {
  content: "\e6a3";
}

.icon-upload2:before {
  content: "\e6a4";
}

.icon-download2:before {
  content: "\e6a6";
}

.icon-refresh:before {
  content: "\e6a9";
}

.icon-female:before {
  content: "\e6ab";
}

.icon-male:before {
  content: "\e6ac";
}

.icon-edit:before {
  content: "\e6ad";
}

.icon-sort:before {
  content: "\e6ae";
}

.icon-more:before {
  content: "\e6af";
}

.icon-exit:before {
  content: "\e6b4";
}

.icon-close:before {
  content: "\e663";
}

.icon-eye-show:before {
  content: "\e6b5";
}

.icon-eye-hide:before {
  content: "\e6b6";
}

.icon-share:before {
  content: "\e6b7";
}

.icon-list:before {
  content: "\e6b8";
}

.icon-block-list:before {
  content: "\e6b9";
}

.icon-mail:before {
  content: "\e6bb";
}

.icon-screening:before {
  content: "\e6b2";
}

.icon-password:before {
  content: "\e690";
}

.icon-mobile-phone:before {
  content: "\e6a7";
}

.icon-account:before {
  content: "\e69f";
}

.icon-phone:before {
  content: "\e6ba";
}

.icon-address:before {
  content: "\e6a8";
}

.icon-scan-code:before {
  content: "\e6aa";
}

.icon-goods:before {
  content: "\e6bc";
}

.icon-shop:before {
  content: "\e6bd";
}

.icon-calendar:before {
  content: "\e6f5";
}

.icon-news:before {
  content: "\e62f";
}

.icon-pyq:before {
  content: "\e7be";
}

.icon-qq-solid:before {
  content: "\e80e";
}

.icon-wx-solid:before {
  content: "\e7e5";
}

.icon-qqkj:before {
  content: "\e80f";
}

.icon-video-play:before {
  content: "\e610";
}

.icon-video-stop:before {
  content: "\e611";
}

.icon-about:before {
  content: "\e62c";
}

.icon-warning:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e606";
}

.icon-user-solid:before {
  content: "\e60e";
}

.icon-home:before {
  content: "\eb32";
}

.icon-home-solid:before {
  content: "\eb94";
}

.icon-wb:before {
  content: "\e7e4";
}

.icon-wx:before {
  content: "\e62a";
}

.icon-qq:before {
  content: "\e65b";
}

.icon-zfb:before {
  content: "\e64b";
}

.icon-zfb-solid:before {
  content: "\e647";
}

.icon-picture:before {
  content: "\e6e9";
}

.icon-search:before {
  content: "\e62e";
}

.icon-delete:before {
  content: "\e614";
}

.icon-left:before {
  content: "\e682";
}

.icon-error:before {
  content: "\e686";
}

.icon-star-solid:before {
  content: "\e62b";
}

.icon-star:before {
  content: "\e629";
}


.icon-loading {
	display: inline-block;
	animation: iconRotate linear 2000ms infinite;
	-moz-animation: iconRotate linear 2000ms infinite;
	-webkit-animation: iconRotate linear 2000ms infinite;
	-o-animation: iconRotate linear 2000ms infinite;
}
.icon-loading2 {
	display: inline-block;
	animation: iconRotate linear 1200ms infinite;
	-moz-animation: iconRotate linear 1200ms infinite;
	-webkit-animation: iconRotate linear 1200ms infinite;
	-o-animation: iconRotate linear 1200ms infinite;
}
@keyframes iconRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-moz-keyframes iconRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes iconRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-o-keyframes iconRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.icon-loading3 {
	display: inline-block;
	animation: iconRotate2 linear 1000ms infinite;
	-moz-animation: iconRotate2 linear 1000ms infinite;
	-webkit-animation: iconRotate2 linear 1000ms infinite;
	-o-animation: iconRotate2 linear 1000ms infinite;
}
@keyframes iconRotate2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(240deg); }
	100% { transform: rotate(360deg); }
}
@-moz-keyframes iconRotate2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(240deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes iconRotate2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(240deg); }
	100% { transform: rotate(360deg); }
}
@-o-keyframes iconRotate2 {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(240deg); }
	100% { transform: rotate(360deg); }
}
